<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

</body>
<!-- <script src="./123.js" data-maxigos-l="en">
  blood - vomit - en.sgf;
  https://api.lionnft.net/v1/upload/view?hash=QmVpX3naD43LDTBR5knX9eWpJQXDUzakfodpXEPw3PbfdR
</script> -->
<script src="http://127.0.0.1:5501/src/views/details/123.js"
  data-maxigos-sgf="https://api.lionnft.net/v1/upload/view?hash=QmVpX3naD43LDTBR5knX9eWpJQXDUzakfodpXEPw3PbfdR">
  </script>
<style>
  #d1VersionDiv {
    display: none
  }
</style>

</html>
